body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #191a1d;
    color: white;
    scroll-behavior: smooth;
}

nav{
    width: 97.5vw;
    height: 6vh;
    background-color: #191a1d;
    border-bottom: 1px solid #4b6cc1;
    top: 0;
    padding: 2vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav span{
    font-size: 40px;
    font-weight: bold;
    display: flex;
}

nav span .blue{
    margin-left: 0.5vw;
    color: #4b6cc1;
}

nav .burger{
    display: none;
}

nav .links a{
    text-decoration: none;
    font-size: 30px;
    color: inherit;
    margin-left: 2vw;
    padding: 1.5vh;
    border-radius: 50px;
}

nav .links a:hover{
    background-color: #243d51;
}

.container{
    padding: 5vh 5vw 0 5vw;
}

.about{
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.about .content{
    margin-top: 30vh;
    margin-left: 5vw;
    margin-right: 15vw;
    height: 100%;
}

.about .content h1{
    font-size: 40px;
}

.about .content span{
    font-size: 25px;
}

.about .content a{
    font-size: 30px;
    text-decoration: none;
    color: inherit;
    background-color: #4b6cc1;
    border-radius: 50px;
    padding: 2vh;
}

.about .content a:hover{
    background-color: #243d51;
    border-radius: 50px;
}

.about .img img{
    margin-top: 15vh;
    height: 50vh;
}

.projects{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.projects span{
    font-size: 40px;
}

.projects .project{
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "a a b"
        "a a b"
        "a a c"
    ;
}

.projects .project img{
    grid-area: a;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.projects .project .description{
    grid-area: b;
    width: 90%;
    padding: 5%;
    text-align: justify;
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    border-right: 2px solid rgba(255, 255, 255, 0.25);
}

.projects .project .description h1{
    text-align: left;
}

.projects .project .description span{
    font-size: 16px;
}

.projects .project .buttons{
    grid-area: c;
    width: 90%;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    border-right: 2px solid rgba(255, 255, 255, 0.25);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.projects .project .buttons a{
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    background-color: #4b6cc1;
    border-radius: 50px;
    padding: 2vh;
}

.projects .project .buttons a:hover{
    background-color: #243d51;
}

.contact{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-areas: 
        "a b"
        "c b"
    ;
}

.contact span{
    grid-area: a;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: end;
}

.contact form{
    grid-area: b;
    width: 100%;
}

.contact form .inputs{
    display: grid;
}

.contact form .inputs label{
    font-size: 24px;
    margin-bottom: 1vh;
}

.contact form .inputs input, .contact form textarea{
    margin-bottom: 1vh;
    padding: 1em;
    color: inherit;
    background-color: #191a1d;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.contact form .inputs input:focus, .contact form .inputs textarea:focus{
    outline-color: #4b6cc1;
}

.contact form textarea{
    height: 20vh;
    padding: 1em;
    resize: none;
}

.contact form input[type=submit]{
    width: 100%;
    font-size: 16px;
    color: inherit;
    background-color: #4b6cc1;
    border: none;
    border-radius: 50px;
    padding: 2vh;
    margin-top: 1vh;
}

.contact form input[type=submit]:hover{
    cursor: pointer;
    background-color: #243d51;
}

.contact .links{
    height: 100%;
    display: flex;
    align-items: start;
}

.contact .links a{
    background-repeat: no-repeat;
    background-size: contain;
    padding: 3em;
    margin-top: 2vh;
}

.contact .links .mail{  
    background-image: url("./img/mail.png");
    margin-right: 1vw;
}

.contact .links .mail:hover{
    background-image: url("./img/mail_hover.png");
}


.contact .links .linkedin{
    background-image: url("./img/linkedin.png");
}

.contact .links .linkedin:hover{
    background-image: url("./img/linkedin_hover.png");
}

/* Use media queries to change the css for phone and tablet view */
@media only screen and (max-width: 992px){
    .open-menu{
        height: 100vh;
        display: flex;
        
    }

    .open-menu span{
        position: absolute;
        top: 0;
        margin-top: 2vh;
        height: 6vh;
    }

    .open-menu .burger{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 3vh;
        margin-right: 8vw;
        height: 6vh;
    }

    .open-menu .links{
        height: 100%;
        width: 100%;
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
    }

    nav .links{
        display: none;
    }

    nav .burger{
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: 4vw;
    }

    .container{
        padding: 0;
    }

    .about{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 10vw;
    }

    .about .content{
        width: 100%;
    }
    
    .about .img{
        display: none;
    }

    .projects{
        display: grid;
        height: 150vh;
        grid-template-columns: none;
        grid-template-rows: 33.3% 33.3% 33.3%;
    }

    .projects span{
        text-align: center;
    }

    .projects .project{
        margin-top: 5vh;
        grid-template-areas: 
            "a"
            "b"
            "c"
        ;
    }

    .contact{
        height: 150vh;
        grid-template-areas: 
            "a"
            "c"
            "b"
        ;
    }

    .contact span{
        justify-content: center;
        text-align: center;
    }

    .contact .links{
        justify-content: space-evenly;
    }
}